<%- include("partials/header.ejs")%>
<div class="px-4 py-5 my-5 text-center">
 <img src="images/vecteezy_bitcoin-coin-crypto-coin-business-investment-and-finance_39093816.jpeg" alt="logo"
    class="d-block mx-auto mb-4" width="72" height="57" >
    <h1 class="display-5 fw-bold text-body-emphasis">About Us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to CryptoPulse, your go-to platform for real-time cryptocurrency prices and market insights. Whether you're a seasoned trader or just starting your crypto journey, CryptoPulse keeps you informed with up-to-date price tracking, market trends, and essential data at your fingertips.</p>
        <p class="lead mb-4">Our mission is to simplify the world of cryptocurrency by providing a clean, user-friendly interface that delivers accurate and fast updates. Stay ahead of the market and make informed decisions with CryptoPulse!</p>
    
    </div>
 
  </div>
  <%- include("partials/footer.ejs")%>