<%- include("partials/header.ejs")%>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      
      <img src="images/vecteezy_bitcoin-coin-crypto-coin-business-investment-and-finance_39093816.jpeg" alt="Bitcoin Coin"
       class="lock mx-d-blg-auto img-fluid" width="700" height="500" >


    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">CryptoPulse</h1>
      <p class="lead"> Welcome to CryptoPulse – Your Ultimate Crypto Tracker! 
        Stay ahead in the world of cryptocurrency with real-time price updates, market trends, and insights. CryptoPulse offers a seamless, user-friendly platform to track Bitcoin, Ethereum, and altcoins effortlessly. Whether you're a trader or enthusiast, get the latest crypto data at your fingertips. Start exploring today! </p>
    </div>
   
  </div>
  <%- include("partials/footer.ejs")%>


  